* {
  padding: 0;
  margin: 0
}

html {
  font-size: 12px;
}

body,
button,
input,
select {
  font-family: PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}

body {
  font-size: 14px;
  line-height: 20px;
}
